.parent{
    border: 2px solid black;
    height: 400px;
    background-color: bisque;
    
}
.child{
    border: 1px solid black;
    width: 50%;
    background-color: blueviolet;
}
.child2{
    background-color: brown;
    width: 50vw;
}